@import "tailwindcss";

@theme {
  --font-sans: "Inter", "system-ui", "sans-serif";
  --color-gray-50: #f9fafb;
  --color-gray-900: #111827;
}

@layer base {
  body {
    @apply bg-gray-50 text-gray-900 font-sans;
  }
}